@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
}

body{
    margin: 200px;
    background-color: rgb(53, 53, 53);
}

h1, h3{
    color: #3F4A85;
}

h1{
    font-size: 90px;
}

h3{
    font-size: 40px;
    letter-spacing: 13px;
}

p{
    font-size: 35px;
    margin: 20px 0;
    color: rgb(50, 50, 50);
}

li{
    font-size: 37px;
    margin: 50px 10px;
}

hr{
    height: 10.1px;
    width: 130px;
    margin: 10px 0 20px 0;
    border-radius: 30px;
    background-color: #3F4A85;
}

img{
    width: 50px;
    height: 50px;
    margin: 20px 10px 15px 0;
}

.titulo{
    margin: 70px 0 70px 0;
}

.descripcion{
    margin: 50px 0;
}

.nombre{
    display: grid;
    place-content: center;
}

.blue{
    color: #3F4A85;
    font-size: 30px;
    margin: 0 0 0 10px;
}

.foto{
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 300px;
    margin: 0 150px 0 90px;
}

.info{
    display: flex;
}

.secciones{
    display: flex;
}

header{
    background-color: #89ADCE;
    display: flex;
    padding: 30px;
}

aside{
    background-color: #C4D6E7;
    padding: 50px;
    width: 1300px;
}

main{
    padding: 50px;
    background-color: #fff;
}